/* HTML */

html {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    color: #1F1F1F;
    line-height: 1.3;
}

ul {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: #1F1F1F;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 32px;
}







/* UTILIDADES */

.bg-pink {
    background-color: #efd2d0;
}

.bg-black {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.color-red {
    color: #FC3314;
}










/* TOP_BAR */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-weight: bold;
}

.topbar__logo img {
    max-width: 180px;
}

.topbar__nav {
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 32px;
}

.nav__item {
    margin: 0 32px;
}

.topbar__item {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding-inline: 24px;
    padding-block: 12px;
    background: #1F1F1F;
    border-color:#1F1F1F;
    border-radius: 0%;
}


/* HEADER */

.header {
    display: flex;
    padding: 40px 124px;
    margin: auto;
}

.header__h1 {
    font-size: 20px;
    font-weight: normal;
}

.header__h2 {
    font-size: 48px;
    font-weight: bold;
    min-width: 300px;
}

.header__h2__span {
    display: block;
}

.header__item {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.item {
    display: block;
    padding: 12px 36px;
    text-align: center;
    line-height: 1; /* Alinear texto verticalmente y elimina espacio extra predeterminado */
    border: 10px #1F1F1F; /* Borde negro */
    margin-right: 20px; /* Espacio entre elementos */
}

.black-square {
    background-color: #1F1F1F; /* Fondo negro */
    color: white; /* Texto blanco */
}

.white-square {
    background-color: white; /* Fondo blanco */
}

.header__image{
    min-width: 687px;
    min-height: 487px;
    max-width: 687px;
    max-height: 487px;
}


/* ABOUT ME */

.section2 {
    align-items: center;
}

.section2__p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}


.section2__list {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
}

.section2__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 64px; /* Espacio horizontal entre grupos */
}

.section2__list-dd {
    font-family: Arial, sans-serif; /* Cambia la fuente */
    font-weight: bold;
    font-size: 64px;
    color: #efd2d0; /* Cambia el color */
    margin-bottom: 5px; /* Espacio entre los elementos */
}
  
.section2__list-dt {
    font-family: Verdana, sans-serif; /* Otra fuente para dt */
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF; /* Otro color para dt */
    margin-top: 5px; /* Espacio entre dd y dt */
}


/* SERVICES */

.section3 {
    align-items: center;
}

.section3__p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

.section3__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    gap: 32px; /* Espacio entre elementos li */
}

.section3__list-li {
    display: flex;
    text-align: left;
    padding: 32px;
    gap: 32px;
}

.section3__list-img {
    width: 48px;
    height: 48px;
}

.section3__list__h6 {
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0; /* Margen superior e inferior */
}

.section3__list-p {
    font-size: 14px;
    text-align: justify;
}

.services__list__h4 {
    padding: 24px 0;
}



/* My Portfolio */

.section4__list {
    display: flex;
    justify-content: center;
}

.section4__list__item {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 64px;
    text-align: justify;
    
}




/*
.back-pink {
    background-color: #FFD4D0;
    padding-bottom: 20px;
}

.item4 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 64px;
    text-align: justify;
}

.link-section4 {
    text-decoration: none;
    color: #1F1F1F;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}

.description-section4 {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #1F1F1F;
    font-weight: lighter;
}







.list-section5left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
}

.list-section5right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
}

.item5 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 64px;
    text-align: justify;
}

label {
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
}





----------

.text-white, .text-white a, .text-white a:visited {
    color: #FFFFFF;
}

.footer {
    padding: ;
}