/* HTML */

html {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    color: #1F1F1F;
    line-height: 1.3;
}

ul {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: #1F1F1F;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 32px;
}







/* Utilities */

.bg-pink {
    background-color: #efd2d0;
}

.bg-black {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.color-red {
    color: #FC3314;
}

.color-white {
    color: #FFFFFF;
}










/* Top_Bar */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-weight: bold;
}

.topbar__logo img {
    max-width: 180px;
}

.topbar__nav {
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 32px;
}

.nav__item {
    margin: 0 32px;
}

.topbar__item {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding-inline: 24px;
    padding-block: 12px;
    background: #1F1F1F;
    border-color:#1F1F1F;
    border-radius: 0%;
}


/* Header */

.header {
    display: flex;
    padding: 40px 124px;
    margin: auto;
}

.header__h1 {
    font-size: 20px;
    font-weight: normal;
}

.header__h2 {
    font-size: 48px;
    font-weight: bold;
    min-width: 300px;
}

.header__h2__span {
    display: block;
}

.header__item {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.item {
    display: block;
    padding: 12px 36px;
    text-align: center;
    line-height: 1; /* Alinear texto verticalmente y elimina espacio extra predeterminado */
    border: 10px #1F1F1F; /* Borde negro */
    margin-right: 20px; /* Espacio entre elementos */
}

.black-square {
    background-color: #1F1F1F; /* Fondo negro */
    color: white; /* Texto blanco */
}

.white-square {
    background-color: white; /* Fondo blanco */
}

.header__image{
    min-width: 687px;
    min-height: 487px;
    max-width: 687px;
    max-height: 487px;
}


/* About Me */

.section2 {
    align-items: center;
}

.section2__p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}


.section2__list {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
}

.section2__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 64px; /* Espacio horizontal entre grupos */
}

.section2__list-dd {
    font-family: Arial, sans-serif; /* Cambia la fuente */
    font-weight: bold;
    font-size: 64px;
    color: #efd2d0; /* Cambia el color */
    margin-bottom: 5px; /* Espacio entre los elementos */
}
  
.section2__list-dt {
    font-family: Verdana, sans-serif; /* Otra fuente para dt */
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF; /* Otro color para dt */
    margin-top: 5px; /* Espacio entre dd y dt */
}


/* Services*/

.section3 {
    align-items: center;
}

.section3__p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

.section3_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 32px; /* Espacio entre elementos li */
}

.section3__list-li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.section3__list-img {
    width: 48px;
    height: 48px;
}

.section3__list__h6 {
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0;
}

.section3__list-p {
    font-size: 14px;
    text-align: justify;
}


/* My Portfolio */

.section4 {
    align-items: center;
}

.section4__p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

.section4__list {
    display: flex;
    gap: 64px;
    align-items: center;
}

.section4__list__item {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 64px;
    text-align: justify;
    
}

.section4__list-arrow {
    max-width: 45px;
    max-height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Core Desing Skills */

.section5 {
    align-items: center;
}

.section5__p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

.section5__list {
    margin-top: 64px;
    display: flex;
    gap: 120px;
    text-align: left;
    margin-left: calc(50% - (470px + 120px / 2));
}

.section5__list li {
    display: grid;
}

.section5__list label {
    font-weight: bold;
    padding: 6px 0;
}

.section5__list-percentage {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section5__list-progress {
    font-weight: bold;
}

/* Get In Touch */

.section6__margin{
    margin: 124px 0;
    max-width: 566px;
}

.section6 {
    display: flex;
    text-align: left;
}

.section6__p {
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
}

.section6__list {
    display: flex;
}

.section6_icons {
    position: absolute;
    bottom: 0;
    left: 0;
}

.section6__icons a {
    padding-right: 24px;
}

.section6__form label {
    display: block;
}

.section6__form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 50px;
    width: 550px;
    padding-left: 16px;
    margin-bottom: 24px;
}

.section6__form textarea {
    height: 152px;
    width: 550px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 16px 0 0 16px;
    resize: none;
}

.section6__form button {
    margin-top: 32px;
    color: white;
    background-color: #1F1F1F;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 56px;
    cursor: pointer;
}

/* Footer */

footer {
    padding: 80px 0;
    text-align: center;
    color: black;
}

/*
----------

.text-white, .text-white a, .text-white a:visited {
    color: #FFFFFF;
}

.footer {
    padding: ;
}