body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 36px;
    color: #1F1F1F;
}

header {
    background-color: #FFD4D0;
}

header h1 {
    background-color: #FFD4D0;
    font-size: 20px;
    color: #1F1F1F;
}

header h2 {
    background-color: #FFD4D0;
    font-size: 48px;
    color: #1F1F1F;
}

header span {
    background-color: #FFD4D0;
    font-size: 48px;
    color: #FC3314;
}

header p {
    background-color: #FFD4D0;
    font-size: 16px;
    color: #1F1F1F;
}

.text-white {
    color: #FFFFFF;
}

.section-black {
    background-color: #1F1F1F;
    color: #FFFFFF
}

.text-pink {
    color: #FFD4D0;
}


----------

.text-white, .text-white a, .text-white a:visited {
    color: #FFFFFF;
}

.footer {
    padding: ;
}